body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}

.button:hover {
  background-color:darkblue;
  border: none;
  color: rgb(215, 216, 247);
  padding: 15px 32px;
  text-align: center;
  text-decoration: navajowhite;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  transition-duration: 0.4s;

}
